* {
    margin:0;
}

html, body {
   width: 100vw;
   height: 100vh;
}

.intro {
   display:flex;
   flex-flow: column;
   align-items: center;
   justify-content: flex-start;
   width: 1300px;
   height: 300px;
   margin-bottom:10px;
   background-color: #aac222;
}